li.ant-list-item[data-template] {
  display: none;
}

body{
  background-color: #005946; /* Dark green */
}

#Buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}
#Buttons>ul>li{display: inline-block;}
#loginButton  {width: 68px;}  

div>ul>li#invis {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 300ms;
  margin-right: 20px;
  padding: 0 0 20px 10px;
}

div>ul>li#invis:hover {
	opacity: 1;
}
/* ul li:nth-child(2) {margin-right: 20px;} */

input[type="checkbox"] {
  opacity: 1; /* они были прозрачные */
}

#overlay-xxy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#popUp, #popUpLogin {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.hidden{
  opacity: 0;
  user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none; /* unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.hid{display:none;}